
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ">

    <div class="collapse navbar-collapse navbar bg-dark" data-bs-theme="dark" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link m-3" routerLink="/">Home</a>
        <a class="nav-link m-3" routerLink="/profile">Profile</a>
      </div>

      <div class="navbar-nav float-end" *ngIf ="!isloggedIn">
        <a class="nav-link m-3" routerLink="/">Welcome guest</a>
        <a class="nav-link m-3" routerLink="/login">Login</a>
        <a class="nav-link m-3" routerLink="/register">Register</a>
      </div>
       <div class="navbar-nav float-end" *ngIf ="isloggedIn">
        <a class="nav-link m-3" routerLink="/">Welcome {{email}}</a>
        <a class="nav-link m-3"  (click) = "logOut()">Logout</a>
      </div>
    </div>
  </div>
</nav>


