<div class="container">
  <div class="container" style="width: 400px; hight: 200px">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quis
      commodi veniam perspiciatis, eligendi facilis debitis obcaecati impedit
      vero sint iure dolorem, vel adipisci placeat quod praesentium neque nemo
      consequatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Quis necessitatibus animi aspernatur aut! Repellendus quas fuga dolorem
      molestiae! Quod at sunt recusandae nemo totam libero modi quidem dolorum
      repudiandae iusto! Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Iusto rerum temporibus fuga, laboriosam veritatis voluptas corporis
      praesentium, a delectus cupiditate est eius explicabo facere eos eaque
      doloribus corrupti doloremque. Aspernatur!
    </p>
  </div>
</div>
