<div class="container d-flex">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>Email</mat-label>
            <input matInput formControlName = "email">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>Password</mat-label>
            <input matInput formControlName = "password">
            </mat-form-field>
        </div>
    </div>
    <button class="btn btn-danger">Login</button>
    </form>
</div>