
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        
        

        
        <div class="container-md">

              <form class="row g-3">
                <div class="col-auto">
                  
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="">
                </div>
                <div class="col-auto">
                  
                  <input type="text" class="form-control" id="inputPassword2" name="v" placeholder="search" [(ngModel)] ="a">
                </div>
                <div class="col-auto">
                  <button type="submit"  class="btn btn-primary mb-3" (click)="search()">Search</button>
                </div>
              </form>
        </div>
        </div>
       
    
    </nav>

    <div class="container">
    <div class="row">
        <div class="col p-2" *ngFor="let x of news" >
            <div class="card" style="width: 22rem; height: 35rem" >
                <div class="card-body">
                    <img src="{{x.urlToImage}}" alt="" style="width:280px; height:200px">
                  <h5 class="card-title" >{{x.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{x.author}}</h6>
                  <p class="card-text" style ="height: 150px; text-overflow: ellipsis;">{{x.description}}</p>
                  <a href="{{x.url}}" class="btn btn-success"> Go to article</a>
                

                </div>
              </div>
        </div>

        


    </div>



</div>
