<div class=" container d-flex justify-content-center">
    <div>
  <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
    <div class="row example-nfull-width">
      <div class="col">
          <mat-form-field>
            <input
              formControlName="fname"
              matInput
              placeholder="First Name"/>
          </mat-form-field>
        <div *ngIf="fname?.dirty && fname?.invalid">First Name is required</div>
      </div>
      <div class="col">
          <mat-form-field>
            <input
              formControlName="lname"
              matInput
              placeholder="Last Name"
            />
          </mat-form-field>
       
        <div class="text-danger" *ngIf="lname?.dirty && lname?.invalid">
          Last Name is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col ">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="address" placeholder="Address" />
        </mat-form-field>
        <div class="text-danger" *ngIf="address?.dirty && address?.invalid">
          Address is required
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <mat-form-field class="example-full-width">
          <input
            type="date"
            formControlName="date"
            matInput
            placeholder="Date of birth"
          />
        </mat-form-field>
        <div class="text-danger" *ngIf="date?.dirty && date?.invalid">
          Date is required
        </div>
      </div>
    </div>
    <div class="row example-nfull-width">
      <div class="col ">
        <h1>Gender</h1>
        <mat-radio-group aria-label="Gender">
          <mat-radio-button value="1" formControlName="gender"
            >Female</mat-radio-button
          >
          <mat-radio-button value="2" formControlName="gender"
            >Male</mat-radio-button
          >
        </mat-radio-group>
        <div class="text-danger" *ngIf="gender?.dirty && gender?.invalid">
          Gender is required
        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Select Blog</mat-label>
          <mat-select formControlName="select">
            <mat-option *ngFor="let x of blog" [value]="x.value">{{
              x.viewValue
            }}</mat-option>
          </mat-select>
          <div class="text-danger" *ngIf="select?.dirty && select?.invalid">
            Required
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <input
            formControlName="email"
            type="text"
            matInput
            placeholder="Email"
          />
        </mat-form-field>
        <div>use like demo@demo.com</div>
        <div class="text-danger" *ngIf="email?.dirty && email?.invalid">
          Email is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-3">
        <mat-slide-toggle formControlName="toggle"
          >Accept terms and conditions</mat-slide-toggle
        >
      </div>
    </div>
    <div class="row">
      <div class="col offset-md-4">
        <button class="mt-3" mat-raised-button color="primary">submit</button>
      </div>
    </div>
  </form>
</div>
</div>
